.place-card {
  width: 282px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 360px;
}

.place-card__image-container {
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  cursor: pointer;
}

.place-card__image {
  display: block;
  width: 282px;
  height: 282px;
  background-color: rgba(0, 0, 0, .3);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.place-card__delete-icon {
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  display: none;
  color: #fff;
}

.place-card:hover .place-card__delete-icon {
  display: flex;
}

.place-card__description {
  display: flex;
  min-height: 78px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 22px;
}

.place-card__likes-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.place-card__name {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
}

.place-card__like-icon {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.place-card__like-icon_is-liked {
  color: crimson;
}

.place-card__like-count {
  display: none;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  margin: 0;
}

.place-card__like-count_show {
  display: flex;
}