.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.popup__content {
  width: 430px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

.popup__close {
  position: absolute;
  font-size: 32px;
  color: #fff;
  top: -26px;
  right: -26px;
  cursor: pointer;
}

.popup__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}

.popup__text{
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin: 0;
}

.popup__form {
  margin-top: 30px;
}

.popup__form:last-child {
  margin-bottom: 0;
}

.popup__input-container {
  min-height: 40px;
}

.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 5px 6px 5px;
  outline: none;
}

.popup__input:focus {
  border-bottom: 2px solid green;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.alert-message {
  color: #FF0000;
  font-size: 12px;
  line-height: 15px;
  padding: 3px 0 0 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
  height: 15px;
}

.popup.popup_is-shown {
  display: flex;
}

.popup__button-wrapper {
  display: flex;
}

.popup__button {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .2);
  color: white;
  background-color: black;
}

.popup__button-wrapper .popup__button {
  height: 38px;
  margin-top: 10px;
  margin-right: 10px;
}

.popup__button-wrapper .popup__button:last-of-type {
  margin-right: 0;
}

#add-image-form .popup__button {
  font-size: 36px;
  height: 50px;
  margin-top: 48px;
}

#edit-user-form .popup__button {
  font-size: 18px;
  line-height: 22px;
  height: 50px;
  margin-top: 28px;
}

.popup__button:disabled {
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, .7);
}

.popup-card {
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
}

.popup-card__image {
  max-width: 80vw;
  max-height: 80vh;
  display: block;
  object-fit: cover;
}

.popup__preloader-wrapper {
  display: flex;
  justify-content: center;
  height: 28px;
}

@media screen and (max-width: 540px) {
  .popup__content {
    width: calc(100% - 60px);
  }
  .popup-card {
    width: calc(100% - 60px);
  }
}