.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  width: 120px;
  height: var(--app-avatar-size);
  min-width: var(--app-avatar-size);
  overflow: hidden;
  position: relative;
}

.avatar__guest {
  font-size: 170px;
  line-height: 140px;
  color: var(--app-dark-disabled);
}

@media screen and (max-width: 980px) {
  .avatar {
    margin-top: 40px;
  }
}