.root {
  background-color: #000000;
  min-height: 100vh;
  font-family: 'Inter';
  padding-bottom: 194px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root__section {
  width: calc(100% - 400px);
  margin: auto;
}

.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  outline: none;
  display: block;
  padding: 0;
  cursor: pointer;
  transition: background-color .1s, color .1s;
}

.button:focus {
  box-shadow: 0 0 0 2px greenyellow;
}

.preloader {
  display: flex;
  margin: 7px auto;
}

@media screen and (max-width: 1024px) {
  .root {
    padding-bottom: 140px;
  }
}

@media screen and (max-width: 980px) {
  .root__section {
    width: 90%;
  }
}