@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("./vendor/Inter-Regular.woff2") format("woff2");
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url("./vendor/Inter-Black.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
