@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("./shared/assets/fonts/Inter-Regular.woff2") format("woff2");
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url("./shared/assets/fonts/Inter-Black.woff2") format("woff2");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

:root {
  --app-font-family: 'Inter';
  --app-h3-size: 24px;
  --app-h3-height: 30px;

  --app-paragraph-font-medium: 18px;
  --app-paragraph-height-medium: 24px;

  --app-light-active: white;
  --app-dark-active: black;
  --app-dark-hover: rgb(55, 55, 55);
  --app-dark-disabled: rgb(100, 100, 100);
  --app-color-active: rgb(220, 20, 60);
  --app-color-hover: rgb(220, 55, 90);
  --app-color-disabled: rgb(217, 100, 124);
  --app-focus-active: green;
}

* {
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: var(--app-font-family);
  text-decoration: none;
  margin: 0;
  padding: 0;
}
